__pycache__/
.idea
CMakeLists.txt.user
CMakeUserPresets.json
/web-client/static/*.js
/**/node_modules/
/**/build/
/**/dist/
/**/.vscode/
/server/.cache/
/typescript-sdk/*_pb.ts
/compile_commands.json
