<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Space Assistant</title>
   <link href="static/loginStyle.css" rel="stylesheet">
</head>


  <body>
   <header class="header">
      <div class="header__logo">Space Expansion</div>
      <div class="headerBtn">
         <button class="header__signupBtn signupBtn">Signup</button>
         <button class="header__loginBtn loginBtn">Login</button>

      </div>   
   </header>

    <form class="form" action="/login" method="post">
      <label for="ip">Server IP</label>
      <input  type="text" id="ip" name="ip" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" placeholder="192.168.1.85"><br>
      <label for="login">Login</label>
      <input  type="text" id="login" name="login" value="Olenoid"><br>
      <label for="password">Password</label>
      <input  type="password" id="password" name="password" value="admin"><br>
      <input type="submit" value="Go!">
    </form>


  </body>
</html>
