<!DOCTYPE html>
<html>
  <title>Space Assistant</title>
  <head>
    <script src="https://unpkg.com/konva@8.3.5/konva.min.js"></script>
    <script type="text/javascript" src="{{items_container_js}}"></script>
    <script type="text/javascript" src="{{stage_view_js}}"></script>
    <script type="text/javascript" src="{{scene_js}}"></script>
    <script type="text/javascript" src="{{main_js}}"></script>
  </head>

  <body>
    <p id="status">Not connected</p>
    <div id="plot"></div>
    <script>
      runApp();
    </script>
  </body>
</html>
