<!DOCTYPE html>
<html>
  <title>Space Assistant</title>
  <head>
  </head>

  <body>
    <form action="/login" method="post">
      <label for="ip">Server IP:</label>
      <input type="text" id="ip" name="ip" value="127.0.0.1"><br>
      <label for="login">Login:</label>
      <input type="text" id="login" name="login" value="Olenoid"><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="admin"><br>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
